<!DOCTYPE document [
  <!-- These are the entity sets for ISO Latin 1 characters for the XHTML -->
  <!ENTITY % HTMLlat1 PUBLIC "-//W3C//ENTITIES Latin 1 for XHTML//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml-lat1.ent">
  %HTMLlat1;
  <!-- These are the entity sets for special characters for the XHTML -->
  <!ENTITY % HTMLsymbol PUBLIC "-//W3C//ENTITIES Symbols for XHTML//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml-symbol.ent">
  %HTMLsymbol;
  <!-- These are the entity sets for symbol characters for the XHTML -->
  <!ENTITY % HTMLspecial PUBLIC "-//W3C//ENTITIES Special for XHTML//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml-special.ent">
  %HTMLspecial;
]>
<document xmlns="http://maven.apache.org/XDOC/2.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">

	<properties>
		<title>Home</title>
	</properties>

	<head>
		<link rel="stylesheet" type="text/css" href="css/homepage.css" media="all" />
	</head>

	<body>

		<div id="catcherTitle">
			Simplest
			<br />
			JavaFX 2
			<br />
			Framework
		</div>
		<div id="catcherContent">
			RIA Pattern providing perfect
			<a title="Separation of Concerns" href="http://en.wikipedia.org/wiki/Separation_of_concerns" target="_blank">SoC</a>
			<br />
			Simplify Multithreaded Development
			<br />
			Built according to
			<a title="KISS principle" href="http://en.wikipedia.org/wiki/KISS_principle" target="_blank">KISS principle</a>
			<br />
			Lightweight (lower than 65kb with Pack200)
			<br />
			<a title="Apache 2 Licensed" href="http://www.apache.org/licenses/LICENSE-2.0.html" target="_blank">Free</a>
			&amp;
			<a title="Open Source Repository" href="https://github.com/JRebirth/JRebirth" target="_blank">Open Source</a>
			Library
			<br /> <!-- <a href="#" title="Click for more info">More Info</a> -->
		</div>

		<div id="features"><!-- <h2>JRebirth, Write your JavaFX2 Application more simply !</h2> -->
			JRebirth JavaFX 2 Application Framework provides a
			<strong>really simple way to write sophisticated and powerful RIA's applications</strong>
			. By leveraging the best of previous RIA framework, we can deliver the ultimate one to work cleanly and efficiently with this
			<strong>awesome API</strong>
			. Check our
			<a href="doc/overview.html">overview page</a>
			to see a diagram illustrating features and layers. Have also a look to
			<a href="apps/lightningtalk.html">demo applications</a>
			which were used as
			<strong>JavaFX 2</strong>
			presentations.
		</div>

		<div id="download" class="box">
			<h1>
				<a href="http://repo.jrebirth.org/repo/org/jrebirth">Download</a>
			</h1>

			<ul>
				<li>
					<a href="http://jcenter.bintray.com/org/jrebirth">Get It from JCenter</a>
				</li>

				<li>
					<a href="http://apps.jrebirth.org/org.jrebirth/JRebirth-${project.version}.zip">JRebirth ${project.version} .zip</a>
				</li>
				<li>
					<a href="http://apps.jrebirth.org/breizhcamp/javafx2-1.1.0-SNAPSHOT.zip">Breizhcamp</a>
				</li>
				<li>
					<a href="http://apps.jrebirth.org/lightningtalk/lightningtalk-1.0.0.zip">Lightning Talk</a>
				</li>
			</ul>
		</div>
		
		
		<div id="twitter">
        	<a id="twitlink" class="twitter-timeline" href="https://twitter.com/JRebirth4JFX" >Tweets of @JRebirth4JFX</a>
			<script>//<![CDATA[
			document.getElementById("twitlink").setAttribute("data-widget-id","313731797349441536");
			//]]></script>
            <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
        </div>

		<div id="mintuto" style="float: left; width: 600px;">

			<section id="3min" name="3-minute Tutorial">
				<div id="ytplayer"></div>

				<script>
				// <![CDATA[]
					// Load the IFrame Player API code asynchronously.
					var tag = document.createElement('script');
					tag.src = "https://www.youtube.com/player_api";
					var firstScriptTag = document.getElementsByTagName('script')[0];
					firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

					// Replace the 'ytplayer' element with an < iframe > and
					// YouTube player after the API code downloads.
					var player;
					function onYouTubePlayerAPIReady() {
						player = new YT.Player('ytplayer', {
							height: '400',
							width: '600',
							videoId: 'Ii2Rf7qinpM'
						});
					}
					//]]>
				</script>

			</section>

			<section id="cli" name="Command Line Tutorial">
				<p>For Maven Gurus, here you have command line to type to do the job</p>

				<subsection name="Full Auto">
					<a href="images/tuto/Maven_Archetype_CLI_OneLine.png" rel="lightbox">
						<img src="images/icons/view.gif" />
					</a>
					mvn archetype:generate -DinteractiveMode=false -DarchetypeCatalog=http://www.jrebirth.org/archetype/jrebirth-catalog.xml -DarchetypeGroupId=org.jrebirth
					-DarchetypeArtifactId=archetype
					-DarchetypeVersion=${project.version} -DarchetypeRepository=http://repo.jrebirth.org/jrebirth-snapshot-local -DgroupId=org.jrebirth -DartifactId=sample -Dversion=1.0.0-SNAPSHOT
					-Dpackage=org.jrebirth.sample
				</subsection>

				<subsection name="Interactive pre-filled">
					mvn archetype:generate -DarchetypeCatalog=http://www.jrebirth.org/archetype/jrebirth-catalog.xml -DgroupId=org.jrebirth -DartifactId=sample -Dversion=1.0.0-SNAPSHOT
					-Dpackage=org.jrebirth.sample
				</subsection>

				<subsection name="Full Interactive">
					<a href="images/tuto/Maven_Archetype_CLI_interactive.png" rel="lightbox">
						<img src="images/icons/view.gif" />
					</a>
					mvn archetype:generate -DarchetypeCatalog=http://www.jrebirth.org/archetype/jrebirth-catalog.xml
				</subsection>
			</section>
		</div>

		<!-- id="ohloh" -->
		<div id="ohloh">
			<div>
				<script type="text/javascript" src="http://www.ohloh.net/p/599672/widgets/project_users.js?style=gray"></script>
			</div>
			<div>
				<script type="text/javascript" src="http://www.ohloh.net/p/599672/widgets/project_thin_badge.js"></script>
			</div>
		</div>

		<div id="thanks" class="box">
			<h1>Special Thanks</h1>
			<a title="YourKit, Java Profiler" href="http://www.yourkit.com" target="_blank">YourKit</a>,
			used for Memory &amp; CPU Java profiling.<br />
			<a title="Structure 101" href="http://www.structure101.com/" target="_blank">Structure101 guys</a>
			,
			for give us a free license of
			<a href="http://structure101.com/products/#/refactor">ReStructure 101</a>
			.<br />
			<a title="Jet Brains" href="http://www.jetbrains.com" target="_blank">Jet Brains</a>
			,
			for give us a free license of
			<a href="http://www.jetbrains.com/idea/">IntelliJ IDEA</a>
			.
		</div>

	</body>
</document> 	