
#set( $title = "JRebirth Analyzer" )
#set( $author = "Sebastien Bordes" )
#set( $date="02/22/2013")

#set( $keywords = "" )
#set( $description = "" )

#set( $version = "${project.version}")
#set( $path = "analyzer")
#set( $archiveName = "JRebirthAnalyzer")
#set( $downloadName = "JRebirth Analyzer")

#set( $width = "1024")
#set( $height = "768")

#set( $sectionId = "JRebirthAnalyzer")
#set( $sectionTitle = "JRebirth Analyzer")

#set( $catcherTitle = "JRebirth - Application Analyzer")
#set( $catcherContent = "Analyze your log trace to see how JRebirth engine works")

#set( $appDescription = "<p>This application is used to replay JRebirth Apps 'log.</p>")

#set( $isPresentation = false)
#set( $hasZip = true)
#set( $hasJar = true)
#set( $hasExe = true)

#set( $githubRepoName = "GitHub JRebirth repository")
#set( $githubRepoUrl = "https://github.com/JRebirth/JRebirth/tree/master/org.jrebirth.af/showcase/analyzer")
			
#parse("Presentation.vm")
