
#set( $title = "Mastering Tables - Game for Kids" )
#set( $author = "Sebastien Bordes" )
#set( $date="05/06/2013")

#set( $keywords = "JavaFX Mind Game Mastering Tables" )
#set( $description = "JavaFX Mind Game Mastering Tables" )

#set( $jnlp = 'masteringtables/${MasteringTables-version}/MasteringTables.jnlp')
#set( $width = "1024")
#set( $height = "768")

#set( $sectionId = "MasteringTables")
#set( $sectionTitle = "Mastering Tables Mind Game")

#set( $catcherTitle = "Mastering Tables - Game for Kids")
#set( $catcherContent = "Help kids learning their Math Tables")

#set( $appDescription = "<p>This application has been used as Workshop support during EclipseCON France JavaFX workshop</p>")

#set( $isPresentation = false)

#set( $downloadName = "Mastering Tables")
#set( $downloadPath = "http://apps.jrebirth.org/masteringtables/")
#set( $zipFile = "masteringtables-${MasteringTables-version}.zip")
#set( $exeFile = "masteringtables-${MasteringTables-version}.exe")

#set( $githubRepoName = "GitHub MasteringTables repository")
#set( $githubRepoUrl = "https://github.com/JRebirth/MasteringTables")
			

#parse("Presentation.vm")
