<!DOCTYPE document [
  <!-- These are the entity sets for ISO Latin 1 characters for the XHTML -->
  <!ENTITY % HTMLlat1 PUBLIC "-//W3C//ENTITIES Latin 1 for XHTML//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml-lat1.ent">
  %HTMLlat1;
  <!-- These are the entity sets for special characters for the XHTML -->
  <!ENTITY % HTMLsymbol PUBLIC "-//W3C//ENTITIES Symbols for XHTML//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml-symbol.ent">
  %HTMLsymbol;
  <!-- These are the entity sets for symbol characters for the XHTML -->
  <!ENTITY % HTMLspecial PUBLIC "-//W3C//ENTITIES Special for XHTML//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml-special.ent">
  %HTMLspecial;
]>
<document xmlns="http://maven.apache.org/XDOC/2.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">

	<properties>
		<title>Breizhcamp - JavaFX 2</title>
		<author>Sébastien Bordes</author>
		<date>15/06/2012</date>
	</properties>

	<head>
		<meta name="keywords" lang="Fr" content="JavaFX 2 Demo Application Presentation" />
		<meta name="keywords" lang="En" content="JavaFX 2 Demo Application Presentation" />
		<meta name="description" content="JavaFx 2 JavaFx 2.0 Demo Application Presentation JRebirth Framework Lightning Talk" />
	</head>
	<body>
		<script type="text/javascript">//<![CDATA[
			var JAVAFX_APP_JNLP='breizhcamp/${Breizhcamp-version}/Breizhcamp.jnlp';
			var JAVAFX_APP_WIDTH=1024;
			var JAVAFX_APP_HEIGHT=768;
		//]]></script>
		<script type="text/javascript" src="../web-files/dtjava.js"></script>
		<script type="text/javascript" src="../web-files/javafxApp.js"></script>

		<section id="Breizhcamp" name="JRebirth JavaFX 2 Presentation">

			<div id="catcherTitle">JRebirth JavaFX 2 Presentation Demo</div>
			<div id="catcherContent">DogFooding like JavaFX 2 Presentation</div>

			<p>
				This application has been shown during my JavaFX 2 Presentation at
				<a href="http://app.breizhcamp.cloudbees.net/talk/5.htm">Breizhcamp</a>
				.
			</p>
			<p>
				Require
				<a href="http://www.oracle.com/technetwork/java/javase/downloads/jre8-downloads-2133155.html">Java 8 Runtime</a>.
			</p>
			<p>
				<strong>Launch by Java Webstart:</strong>
				<a id="launchApp" href="#" title="Launch Application with Java WebStart">Click to launch this application with Java WebStart</a>
			</p>
			<p>
				You can download the whole application here :
				<a href="http://apps.jrebirth.org/breizhcamp/javafx2-${Breizhcamp-version}.zip">JavaFX 2 Presentation</a>
			</p>
			<p>
				Press F11 to activate fullscreen mode, use left-click to show the next slide, right click for previous slide
				You can browse the source code on
				<a title="JRebirth Demo Source Code" href="https://github.com/JRebirth/JFX-Presentation/tree/master/org.jrebirth.af.presentation.javafx2" target="_blank">GitHub</a>
				.
			</p>
			<div id="javafx-app-placeholder" style="margin: 0 -27px; padding: 0;">
			</div>
		</section>

	</body>
</document>


