	------
	Useful Links
	------
	Sébastien Bordes
	------
	2013-03-26
	------

Useful links


 JRebirth provides 2 websites, one for latest development and one for latest stable.\
 The default website (<www>) is mapped to development version to be more up-to-date than frozen <stable> release.\
 All previous websites are still available for reference (<sites>).


* All web sites

	* Website for latest stable version: {{{http://stable.jrebirth.org} stable.jrebirth.org}}

	* Website for latest development version: {{{http://www.jrebirth.org} www.jrebirth.org}}

	* List of all generated Websites: {{{http://sites.jrebirth.org} sites.jrebirth.org}}

* Javadoc

	* Latest stable version (all modules mixed): {{{http://stable-api.jrebirth.org} stable-api.jrebirth.org}}

	* Latest development version (all modules mixed): {{{http://api.jrebirth.org} api.jrebirth.org}}

	* Latest stable version of core module only: {{{http://stable-api-core.jrebirth.org} stable-api-core.jrebirth.org}}

	* Latest development version of core module only: {{{http://api-core.jrebirth.org} api-core.jrebirth.org}}


* Software Factory

	* Latest Source: {{{${project.scm.url}}${project.scm.url}}}

	* Built with Jenkins: {{{${project.ciManagement.url}/lastSuccessfulBuild} ${project.ciManagement.url}}}

	* Checked by Sonar:  {{{http://quality.jrebirth.org/dashboard/index/1}quality.jrebirth.org}}

	* Distributed by Artifactory:  {{{http://repo.jrebirth.org/repo/org/jrebirth}repo.jrebirth.org}}

	* Also available on Bintray Organization repo:  {{{https://bintray.com/repo/browse/jrebirth/JRebirth}https://bintray.com/repo/browse/jrebirth/JRebirth}}

	* And JCenter (top level Bintray repository): {{{http://jcenter.bintray.com/org/jrebirth}jcenter.bintray.com}}
	
	* And obviously on Maven Central : {{{http://search.maven.org/#search|ga|1|g%3A%22org.jrebirth.af%22}search.maven.org}}
