<?xml version="1.0" encoding="UTF-8" ?>
<jnlp spec="1.0+" xmlns:jfx="http://javafx.com" codebase="$jnlpCodebase" href="$outputFile" >

	<information>
#if($project.Name)
    <title>$project.Name</title>
#end
#if($project.Organization.Name)
    <vendor>$project.Organization.Name</vendor>
#end
#if($project.Url)
    <homepage href="$project.Url"/>
#end
#if($project.Description)
    <description>$project.Description</description>
#end
<!--
	<description kind="short"></description>-->
	<!--<icon href="icon.png"/>
-->
#if($offlineAllowed)
    <offline-allowed/>
#end
	</information>

#if($allPermissions)
  <security>
     <all-permissions/>
  </security>
#end

	<resources os="Windows" arch="x86">
		<jfx:javafx-runtime version="2.0+" href="http://download.oracle.com/otn-pub/java/javafx/javafx-windows-i586__Vlatest.exe "/>
	</resources>
	<resources os="Windows" arch="x64">
		<jfx:javafx-runtime version="2.0+" href="http://download.oracle.com/otn-pub/java/javafx/javafx-windows-x64__Vlatest.exe "/>
	</resources>
  
  	<resources>
		<j2se version="1.7+" />
		$dependencies
	</resources>
	
	<application-desc main-class="$mainClass"/>
	
	<applet-desc  width="$appletWidth" height="$appletHeight" main-class="com.javafx.main.NoJavaFXFallback"  name="${project.name}" />
	<jfx:javafx-desc  width="$appletWidth" height="$appletHeight" main-class="$mainClass" name="${project.name}" />
<!--

	update element: The update element is used to indicate the preferences for how application updates should be handled by the JNLP Client. The update element can contain the following two optional attributes:
	
	check attribute: The check attribute indicates the preference for when the JNLP Client should check for updates, and can have one of the three values: "always", "timeout", and "background".
	A value of "always" means to always check for updates before launching the application.
	A value of "timeout" (default) means to check for updates until timeout before launching the application. If the update check is not completed before the timeout, the application is launched, and the update check will continue in the background.
	A value of "background" means to launch the application while checking for updates in the background.
	
	policy attribute: The policy attribute indicates the preference for how the JNLP Client should handle an application update when it is known an update is available before the application is launched, and can have one of the following three values: "always", "prompt-update", and "prompt-run".
	A value of "always" (default) means to always download updates without any prompt.
	A value of "prompt-update" means to ask the user if he/she wants to download and run the updated version, or launch the cached version.
	A value of "prompt-run" means to ask the user if he/she wants to download and run the updated version, or cancel and abort runing the application.

-->	
	<update check="$updateCheck" policy="$updatePolicy">
</jnlp>