.editor {
	-fx-background-color: skyblue, derive(skyblue, 25%), derive(skyblue, 50%), derive(skyblue, 75%);
	/* set background to skyblue */
	-fx-background-insets: 20, 40, 60, 80;
	-fx-border-color: red, yellow, green, blue; /* set border to red*/
	-fx-border-insets: 20, 40, 60, 80;
	-fx-border-width: 3; /* border width 3px */
}