#navmenu {
	background-color: #FFFFFF;
	width: 1000px;
	margin: auto;
	height: 43px;
	border: none;
	border: 0px;
	padding: 0px;
	font-family: verdana, geneva, arial, helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: 8e8e8e;
}

#navmenu ul {
	background: url(../images/navmenu/menu-bg.gif) top left repeat-x;
	height: 43px;
	list-style: none;
	margin: 0;
	padding: 0;
}

#navmenu li {
	float: left;
	padding: 0px 4px 0px 4px;
}

#navmenu li a {
	color: #666666;
	display: block;
	font-weight: bold;
	line-height: 43px;
	padding: 0px 10px;
	text-align: justify;
	text-decoration: none;
}

#navmenu li a:hover {
	color: #000000;
	text-decoration: none;
}

#navmenu li ul {
	background: #e0e0e0;
	border-left: 2px solid #f68618;
	border-right: 2px solid #f68618;
	border-bottom: 2px solid #f68618;
	display: none;
	height: auto;
	filter: alpha(opacity = 95);
	opacity: 0.95;
	position: absolute;
	width: 180px;
	z-index: 200;
	/*top:1em;
		/*left:0;*/
}

#navmenu li:hover ul {
	display: block;
}

#navmenu li li {
	display: block;
	float: none;
	padding: 0px;
	width: 180px;
}
#navmenu li li a {
	line-height: 30px;
}

#navmenu li ul a {
	display: block;
	font-size: 12px;
	font-style: normal;
	padding: 0px 10px 0px 10px;
	text-align: justify;
}

#navmenu li ul a:hover {
	background: #949494;
	color: #000000;
	opacity: 1.0;
	filter: alpha(opacity = 100);
}

#navmenu p {
	clear: left;
}

#navmenu .active>a {
	background: url(../images/navmenu/current-bg.gif) top left repeat-x;
	color: #ffffff;
}

#navmenu .active>a:hover {
	color: #ffffff;
}

#navmenu>ul>li>a:hover {
	background: url(../images/navmenu/hover-bg.gif) top left repeat-x;
	color: #ffffff;
}