<head>
<![CDATA[
    <title>Behavior</title>
    <link rel="stylesheet" type="text/css" href="../css/shCoreEclipse.css" media="all"/>
    ]]>
</head>

<div id="catcherTitle">Behavior Area</div>
<div id="catcherContent">Extend your Components.</div>


<!-- MACRO{toc|section=0|fromDepth=1|toDepth=4} -->


Behavior
==============



Overview
---------------------

<span style="text-decoration: underline;">Short UML Diagram:</span>

<div class="uml">
    <a title="Behavior Class Diagram " rel="lightbox" href="uml/Behavior.png">
    <img class="redux" alt="" src="uml/Behavior.png"/>
    </a>
</div>


Behavior Data
============================
    

#parse("TocList.vm")
#displayFooterToc("Behavior")