<head>
<![CDATA[
<title>Component</title>
<link rel="stylesheet" type="text/css" href="../css/shCoreEclipse.css" media="all" />]]>
</head>

<div id="catcherTitle">Create your Components</div>
<div id="catcherContent">Component allow reusability and provide good SoC</div>

#if(!$all)
<!-- MACRO{toc|section=0|fromDepth=1|toDepth=4|class=toc} -->
#end   

#include("_Component.md")

#[[


]]#

#if( !$all )
#parse("TocList.vm")
#displayFooterToc("Component")
#end
