<head>
<![CDATA[
<title>Modularization</title>
<!--<link rel="stylesheet" type="text/css" href="../css/shCoreEclipse.css" media="all" />-->
]]>
</head>

<div id="catcherTitle">Modularization</div>
<div id="catcherContent">How to modularize your application at runtime</div>

#if(!$all)
<!-- MACRO{toc|section=0|fromDepth=0|toDepth=5|class=toc} -->
#end   

//#include("_Modularization.md")

#[[
]]#

#if( !$all )
#parse("TocList.vm")
#displayFooterToc("Modularization")
#end