<head>
<![CDATA[
	<title>Notifier &amp; Components</title>
	<link rel="stylesheet" type="text/css" href="../css/shCoreEclipse.css" media="all" />
]]>
</head>

<div id="catcherTitle">Notifier &amp; Components</div>
<div id="catcherContent">Provide a communication means between top-level components</div>

#if(!$all)
<!-- MACRO{toc|section=0|fromDepth=1|toDepth=4|class=toc} -->
#end   

#[[

        
Messaging engine
=========================

JRebirth provides its own event bus to manage asynchronous communication between all components.
Synchronous communication can be achieved by using direct method call.

<div class="uml">
	<a href="uml/Link.png" rel="lightbox" title="Notifier Class Diagram ">
		<img class="redux" src="uml/Link.png" alt="" />
	</a>
	<legend>Communication Engine - Class Diagram</legend>
</div>


Notifier aim
---------------

JRebirth has got its own Notification Engine to allow each component to communicate with each other.
All these communications are processed into a dedicated thread described [before](Thread.html).
The notification engine uses custom objects to transport data : Waves.

We will have an overview of them within the next section.

]]#

#if( !$all )
#parse("TocList.vm")
#displayFooterToc("Notifier")
#end