/*----------------------------------*/
/*			Home¨Page				*/
/*----------------------------------*/
div#features {
	float : left;
	width:50%;	
	
	text-align:justify;
	padding:25px 40px;
	
	font-size:21px;
	letter-spacing:0.1em;
	
	background-image:url("../images/quote-gauche.png"),url("../images/quote-droite.png");
	background-position: left top, right 240px;
	background-repeat:no-repeat, no-repeat;
	
	/*border: 1px solid #696;
	padding: 5px 10px;
		
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	-webkit-box-shadow: #666 0px 4px 5px;
	-moz-box-shadow: #666 0px 4px 5px;
	box-shadow: #666 0px 4px 5px;
	
	background: #eeeeee;
	background: -moz-linear-gradient(left, #eeeeee 0%, #eeeeee 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#eeeeee), color-stop(100%,#eeeeee));
	background: -webkit-linear-gradient(left, #eeeeee 0%,#eeeeee 100%);
	background: -o-linear-gradient(left, #eeeeee 0%,#eeeeee 100%);
	background: -ms-linear-gradient(left, #eeeeee 0%,#eeeeee 100%);
	background: linear-gradient(left, #eeeeee 0%,#eeeeee 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=1 );*/
}

div#3mintuto{
	float : left;
	width:600px;	
}

div#download{
	text-align:center;	
	font-variant:small-caps;
	font-size:20px;

	float : right;
	
	width:32%;
	
	color:#756f6b;
	
	margin-top : 30px;
	border: 1px solid #696;
	padding: 5px 10px;
	
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	
	-webkit-box-shadow: #666 0px 4px 5px;
	-moz-box-shadow: #666  0px 4px 5px;
	box-shadow: #666  0px 4px 5px;
	
	background: #f9c667;
	background: -moz-radial-gradient(center, ellipse cover, #f9c667 0%, #f79621 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#f9c667), color-stop(100%,#f79621));
	background: -webkit-radial-gradient(center, ellipse cover, #f9c667 0%,#f79621 100%);
	background: -o-radial-gradient(center, ellipse cover, #f9c667 0%,#f79621 100%);
	background: -ms-radial-gradient(center, ellipse cover, #f9c667 0%,#f79621 100%);
	background: radial-gradient(center, ellipse cover, #f9c667 0%,#f79621 100%);	
}

div#download a {
	
	text-decoration:none;
	color:#756f6b;
}

div#download ul li{
	list-style-type:none;
	margin-bottom:8px;
}

div#twitter {
	float : right;
	width:32%;
	
	margin-top : 30px;
	border: 1px solid #696;
	padding: 5px 10px;
	
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	
	-webkit-box-shadow: #666 0px 4px 5px;
	-moz-box-shadow: #666 0px 4px 5px;
	box-shadow: #666 0px 4px 5px;
	
	background: #b3dced; 
	background: -moz-linear-gradient(45deg,  #b3dced 0%, #29b8e5 0%, #bce0ee 100%); 
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#b3dced), color-stop(0%,#29b8e5), color-stop(100%,#bce0ee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  #b3dced 0%,#29b8e5 0%,#bce0ee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  #b3dced 0%,#29b8e5 0%,#bce0ee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  #b3dced 0%,#29b8e5 0%,#bce0ee 100%); /* IE10+ */
	background: linear-gradient(45deg,  #b3dced 0%,#29b8e5 0%,#bce0ee 100%); /* W3C */

}
div.twPicture{
    float: left;
    margin-right: 10px;
}
div#twitter div p{
        font-size:12px;
        color:#000;
        margin:0;
}
div#twitter div p strong{
        float: right; 
        margin-left: 10px;
}
div#twitter div p strong a{
	font-size:12px;
	color:#fff;
        border:1px solid #fff; 
        background-color: #F8A435; 
        margin: 0px;
        padding: 0 2px;
}
div#twitter a{
        color:#6E6254;
}
p.twWhen{
	font-size:11px;
}
div.twEnd{
        clear:right;
        padding-bottom:6px;
        margin-bottom:8px;
        border-bottom:1px dashed #885110;
}

div#ohloh{
    
   
    font-size:12px;
	float : right;
	
	width:32%;
	
	color:#756f6b;
	
	margin-top : 30px;
	border: 1px solid #696;
	padding: 5px 10px;
	
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	
	-webkit-box-shadow: #666 0px 4px 5px;
	-moz-box-shadow: #666  0px 4px 5px;
	box-shadow: #666  0px 4px 5px;
	
	background: #f9c667;
	background: -moz-radial-gradient(center, ellipse cover, #f9c667 0%, #f79621 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#f9c667), color-stop(100%,#f79621));
	background: -webkit-radial-gradient(center, ellipse cover, #f9c667 0%,#f79621 100%);
	background: -o-radial-gradient(center, ellipse cover, #f9c667 0%,#f79621 100%);
	background: -ms-radial-gradient(center, ellipse cover, #f9c667 0%,#f79621 100%);
	background: radial-gradient(center, ellipse cover, #f9c667 0%,#f79621 100%);	
}

div#thanks{
    
   
	font-size:12px;
	float : right;
	
	width:32%;
	
	color:#FFFFF;
	
	margin-top : 30px;
	border: 1px solid #696;
	padding: 5px 10px;
	
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	
	-webkit-box-shadow: #666 0px 4px 5px;
	-moz-box-shadow: #666  0px 4px 5px;
	box-shadow: #666  0px 4px 5px;
	
	background: #f9c667;
	background: -moz-radial-gradient(center, ellipse cover, #f9c667 0%, #f79621 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#f9c667), color-stop(100%,#f79621));
	background: -webkit-radial-gradient(center, ellipse cover, #f9c667 0%,#f79621 100%);
	background: -o-radial-gradient(center, ellipse cover, #f9c667 0%,#f79621 100%);
	background: -ms-radial-gradient(center, ellipse cover, #f9c667 0%,#f79621 100%);
	background: radial-gradient(center, ellipse cover, #f9c667 0%,#f79621 100%);	
}
div#thanks h1 {
    text-align:center;    
	font-size:20px;
}
div#thanks a {
    text-align:center;    
    font-size:20px;
    color:#756f6b;
}